<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kunal_Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        html {
            height:100vh;
            width:100vw;
        }
        body{
            height:100%;
            width:100%;
        }
        .navbar-brand, .font{
            color: white;
            font-size: 1.5rem;
            padding: 5px;
            text-align: center;
            font-weight: bolder;
        }
    </style>
</head>
<body>
    {{if eq .role "admin"}}
        {{template "adminTopbar" .}}
    {{else}}
        {{template "userTopbar" .}}
    {{ end }}
    <div class="d-flex h-100">
        {{if eq .role "admin"}}
            {{template "adminSidebar" .}}
        {{else}}
            {{template "userSidebar" .}}
        {{ end }}

        <div class="d-flex flex-column w-100 ">
            <div class="fst-italic fw-bolder px-4 pb-2 pt-5" style="font-family: Arial, roboto , monospace; font-size:2.25rem; text-align:left;">
                {{ .book.NAME }}
                {{if eq .role "admin"}}
                    <span>
                        <a href="/admin/editbook/{{ .book.BUID  }}" class="fw-normal fs-3 ">
                            <i class="fa-solid fa-pen-to-square fa-fw ms-2 me-3"></i>
                        </a>
                    </span>
                    <span>
                        <a href="/admin/deletebook/{{ .book.BUID  }}" class="fw-normal fs-3 ">
                            <i class="fa-solid fa-trash-can fa-fw ms-3 me-3" style="color: #e62d2d;"></i>
                        </a>
                    </span>
                    
                    
                {{end}}    
            </div>
       
            
 
            <div class="fst-italic px-4 pb-2" style="font-family: Arial, roboto , monospace; font-size:1.5rem; text-align:left;">BUID: {{.book.BUID}}</div>            
            
            {{if eq .role "admin"}}
                <div class="fst-italic px-4 pb-2" style="font-family: Arial, roboto , monospace; font-size:1.25rem; text-align:left;"> {{ sub .book.TOTAL .book.CHECKIN}}/{{.book.TOTAL}} copies checked out. (You can't delete this book till all copies are checked in.)</div>        
            {{end}}
             
            <div class="d-flex flex-row justify-content-between px-4" >
                <div class="d-flex flex-row">
                    <div class="d-flex flex-column">
                        <div class="text-muted mb-3" style="font-size:1.3rem">{{.book.DESCRIPTION}} 
                            <div class="fs-3">
                                {{ if ge .book.CHECKIN 1}}
                                    Status: <span style="color: rgb(12, 224, 12);">Available</span>
                                {{else}}
                                    Status: <span style="color: red;">Checked Out</span>
                                {{end}}
                            </div>             
                        </div>
                    </div>
                </div>       
            </div>
            <div class="px-4">
                <form action="/checkout" method="POST">
                    <button type="submit" class="btn btn-primary" name="buid" value={{.book.BUID}} {{ if or (eq .book.CHECKIN 0) .user_has }} disabled {{end}}>Request Checkout</button>
                </form>
            </div> 

            
        </div>
    </div>
    <script src="https://kit.fontawesome.com/e77db821fe.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>