{{define "adminTopbar" -}}
<nav class="navbar d-block d-sm-none bg-primary pb-0">
    <div class="container-fluid px-0">
        <a class="navbar-brand px-2" href="">SDSLabs Library</a>
        <button class="navbar-toggler me-2 mb-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse bg-light px-2" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{if eq .path "/admin/dashboard" }} active {{end}}"
                    {{if eq .path "/admin/dashboard" }} aria-current="page" {{end}}
                        href="{{if eq .path "/admin/dashboard"}} # {{else}} /admin/dashboard {{end}}"><i
                            class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main Dashboard</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{if eq .path "/books" }} active {{end}}"
                    {{if eq .path "/books" }} aria-current="page" {{end}}
                        href="{{if eq .path "/books"}} # {{else}} /books {{end}}"><i
                            class="fas fa-book fa-fw me-3"></i><span>Books</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{if eq .path "/account" }} active {{end}}"
                    {{if eq .path "/account" }} aria-current="page" {{end}}
                        href="{{if eq .path "/account"}} # {{else}} /account {{end}}"><i
                            class="fas fa-circle-user fa-fw me-3"></i><span>Account</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{if eq .path "/pending" }} active {{end}}"
                    {{if eq .path "/pending" }} aria-current="page" {{end}}
                        href="{{if eq .path "/pending" }} # {{else}} /pending {{end}}"><i
                            class="fas fa-right-to-bracket fa-fw me-3"></i><span>Book Requests</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{if eq .path "/cvt_admin" }} active {{end}}"
                    {{if eq .path "/cvt_admin" }} aria-current="page" {{end}}
                        href="{{if eq .path "/cvt_admin" }} # {{else}} # {{end}}"><i
                            class="fas fa-user-lock fa-fw me-3"></i><span>Admin Requests</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-users fa-fw me-3"></i><span>Users</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-money-bill fa-fw me-3"></i><span>Fines</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i
                            class="fas fa-power-off fa-fw me-3"></i><span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{end}}