{{define "userSidebar" -}}
    <nav id="sidebarMenu" class="d-none d-sm-block sidebar bg-white"
        style="width:30vw; max-width:280px; height: 100%; border-right: 1px rgba(0, 0, 0, 0.163) solid;">
        <div class="position-sticky">
            <div class="list-group list-group-flush ">
                <span href="" class="list-group-item list-group-item-action py-3 ripple active" aria-current="true">
                    <i class="fas fa-book-open fa-fw me-3"></i><span>SDSLabs Library</span>
                </span>

                <a href=" {{if eq .path "/user/dashboard"}} # {{else}} /user/dashboard {{end}}"
                    class="list-group-item list-group-item-action py-2 ripple {{if eq .path "/user/dashboard" }} active {{end}}"
                    {{ if eq .path "/user/dashboard"  }} aria-current="true" {{end}}>
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main Dashboard</span>
                </a>

                <a href=" {{if eq .path "/books"}} # {{else}} /books {{end}}"
                    class="list-group-item list-group-item-action py-2 ripple {{if eq .path "/books" }} active {{end}}"
                    {{ if eq .path "/books"  }} aria-current="true" {{end}}>
                    <i class="fas fa-book fa-fw me-3"></i><span>Books</span>
                </a>

                <a href=" {{if eq .path "/account"}} # {{else}} /account {{end}}"
                    class="list-group-item list-group-item-action py-2 ripple {{if eq .path "/account" }} active {{end}}"
                    {{ if eq .path "/account"  }} aria-current="true" {{end}}>
                    <i class="fas fa-circle-user fa-fw me-3"></i><span>Account</span>
                </a>
                
                <a href=" {{if eq .path "/pending"}} # {{else}} /pending {{end}}"
                    class="list-group-item list-group-item-action py-2 ripple {{if eq .path "/pending" }} active {{end}}"
                    {{ if eq .path "/pending"  }} aria-current="true" {{end}}>
                    <i class="fas fa-right-to-bracket fa-fw me-3"></i><span>Pending Requests</span>
                </a>
                <!-- TODO: The Users and Fines functionalities are left for future -->
                <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-money-bill fa-fw me-3"></i><span>Fines</span>
                </a>
                <!-- TODO: end -->
                
                <a href="{{if eq .path "/cvt_admin"}} # {{else}} /cvt_admin {{end}}"
                    class="list-group-item list-group-item-action py-2 ripple {{if eq .path "/cvt_admin" }} active {{end}}"
                    {{ if eq .path "/cvt_admin"  }} aria-current="true" {{end}}>
                    <i class="fas fa-user-lock fa-fw me-3"></i><span>Request Admin Status</span>
                </a>

                <a href="/logout" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-power-off fa-fw me-3"></i><span>Logout</span>
                </a>
            </div>
        </div>
    </nav>
{{end}}
